<html>
<head>
  <title>AnkiVerse</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>
    $(function() {
      $('#bible_form').submit(function() {
        if ($('#passage').val()) {
          newlocation = "/bible/" + $('#passage').val() + "/";
          if ($('[name=verse_numbers]:checked').val() == 'with_verse_numbers') {
            newlocation = newlocation + $('[name=verse_numbers]:checked').attr('value');
          }
          document.location = newlocation;
        }
        return false;
      });
    });
  </script>

  <style>
    textarea { font-family: sans-serif; }
    td { vertical-align: top; }
    #bible_form { margin-top: 2em; padding-top: 1em; border-top: 1px solid #ccc; }
    td + td { font-size: smaller; color: #999; padding: 1ex; }
    td > div { margin: 1em 0; }
    input[name="lines[]"] { width: 2em; }
  </style>
</head>

<body>
  <h1>AnkiVerse</h1>
  <form action="/" method="post" accept-charset="UTF-8">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <table>
      <tr>
        <td>
          Input poem: <br />
          <textarea name="poem" cols="80" rows="20"><%= @poem %></textarea>
        </td>
        <td>
          <div>
            <label>
              Lines to include on question card (default 4):
              <input name="lines[]" value="4"/>
            </label>
          </div>
          <div>
            <label>
              Lines to include on answer card (default 2):
              <input name="lines[]" value="2"/>
            </label>
          </div>
          <div>
            <label>
              <input name="ellipsis" type="checkbox" checked="checked"/>
              Include ellipsis (...) at end of question card
            </label>
          </div>
          <div>
            <label>
              <input name="put_into_anki" type="checkbox" checked="checked"/>
              Automatically load into Anki (via AnkiConnect)
            </label>
          </div>
          <div>
            Deck: <input type="text" name="deck" value="Scripture" />
          </div>
          <div>
            Password: <input type="password" name="password" />
          </div>
        </td>
      </tr>
    </table>
    <input type="submit" value="Get Anki Cards" />
  </form>

  <form action="/bible" id="bible_form">
    <input type="text" id="passage" name="passage" />
    <input type="submit" value="Get Bible passage" />
  </form>
</body>
</html>
